body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffffff;
}

header {
    font-family: prata, serif;
    background-color: #ffffff;
    color: #E41749;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}



.hotel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.hotel-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: left;
}

.hotel-card img {
    width: 100%;
    border-radius: 6px;
}

.details-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #E41749;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  gap: 10px;
}

.search-bar input {
  padding: 10px;
  width: 300px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.search-bar button {
  padding: 10px 16px;
  background-color: #E41749;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}