body {
    font-family: sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.login-container {
    max-width: 400px;
    margin: 20px auto;
    background: linear-gradient(135deg, #F5587B, #E41749);
    background-color: #E41749;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    color: white;
}

.topo {
    color: #E41749;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;

}


.logo {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

label {
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="email"],
input[type="password"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 6px;
}

.entrar {
    padding: 12px;
    background-color: white;
    color: #E41749;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 150px;
    margin: 0 auto;
}