body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
}

.cadastro-container {
    max-width: 500px;
    margin: 50px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #E41749;
    margin-bottom: 20px;
}

form label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="file"]
{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.salvar {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #E41749;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}