body {
    font-family: sans-serif;
    margin: 0;
    background-color: #ffffff;
}

header {
    font-family: prata, serif;
    background-color: #ffffff;
    color: #E41749;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-right: 10px;
}


.auth-buttons button {
    margin-left: 10px;
    padding: 8px 12px;
    background-color: #E41749;
    color: #ffffff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.hotel-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.hotel-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 15px;
    text-align: left;
}

.hotel-card img {
    width: 100%;
    border-radius: 6px;
}

.details-button {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #E41749;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}