* {
    font-family: Arial, Helvetica, sans-serif;
}

nav>ul {
    display: flex;
    text-decoration: none;
    list-style: none;
    justify-content: space-between;
    align-items: center;
}

#buttonsNav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#buttonsNav li a {
    color: #FFF;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

#buttonsNav li {
    margin-right: 35px;
    border-radius: 50px;
    padding: 18px 40px 18px 40px;
    background: #E41749;
}


#logoArea {
    display: flex;
    justify-content: start;
    align-items: center;
}

#logoArea h2 {
    color: #E41749;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
}

#logoArea img {
    width: 150px;
    height: 150px;
}